*{
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: 
    "Title Title"
    "Search Result";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 4fr;
    margin: 0;
    font-size: 15px;
}

header{
    grid-area:Title;
    width: 100%;
    height: 20vh;
    border: solid black 4px;
    padding: 0.7rem;
}

#searchOptions{
    grid-area: Search;
    height: 80vh;
    padding: 1rem;
    border: solid black 4px;
    margin: 0;
    display: grid;
    grid-template-areas: 
    "Type"
    "Number"
    "Custom"
    "Button";
}
#content{
    margin: 0;
    overflow: scroll;
    grid-area: Result;
    height: 80vh;
    text-align: center;
    border: solid black 4px;
}
.results{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2rem;
}
.result{
    position: relative;
    text-align: left;
    border: solid black 4px;
    width: 16vw;
    height: 35vh;
    margin: 0.5rem;
}
.result img{
    display: block;
    float: right;
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    width: 50%;
    height: auto;
}
#data{
    grid-area:Data;
}
#number{
    grid-area: Number;
}
#searchButton{
    grid-area:Button;
}
.data{
    margin-left: 0px;
    padding: 0.4rem;
    display:grid;
    grid-template-areas: "top top"
    "bottomLeft bottomRight";
    grid-template-rows: 1.2fr 1fr;
}
.bottomLeft{
    grid-area: bottomLeft;
}
