figure{
    max-width: 650px;
    /*overflow:scroll;*/
    margin: 0 auto;
}
figure img{
    width: 100%;
}
header,main,footer{
    width: 90vw;
    margin: 0 auto;
}
#tetlist{
    display: flex;
    flex-flow: row wrap;
}