/**{border: 1px gray;}*/
h1 { 
    color:#db2f10;
    font-family: 'Roboto Slab', sans-serif;
    border-bottom: 1px solid #1C110A;
    }
h2{
    color: #7a2300;
    font-family: 'Roboto Slab', sans-serif;
    }
blockquote { 
    background-color: #dbbd80;
    padding: 1rem;
    }
main, footer, header{
    margin: 0 auto;
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:#E4D6A7;
    width: 80%;
}
body{
        /*background-color:#E4D6A7;*/
        background-color: #473c16;
        font-family: Arial, sans-serif;
    }
    p{
        margin-left: 25px;
    }
    img{
        border: 5px;
        padding: 4px;
        border-radius: 10px;
        
    }
    .side
    {
        float:right; margin: 0 12px;
    }
    .center
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    a:link{
        color: #fa0f55;
    }
    a:visited{
        color:rgb(156, 49, 49);
    }
    a:focus{
        color:rgb(90, 86, 34);
    }
    a:hover{
        color: #4E878C;
    }
    a:active{
        color:green;
    }